---
title: 'About | SENCo'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/TacomaMap.jpeg">
                    <source media="(min-width: 601px)" srcset="/assets/images/TacomaMap.jpeg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/TacomaMap.jpeg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Company Title</h2>
                <p class="cs-text">
                    The South End Neighborhood Council (SENCo) is one of eight Neighborhood Councils formed by the City of Tacoma in 1992. We are an independent non-profit corporation that addresses issues and concerns at the neighborhood level and works cooperatively with neighborhood groups for the attainment of neighborhood goals. SENCo seeks to encourage the participation of all citizens in the governmental process and maximize the use of resources through the concepts of community and group organization through utilization of available services and funding sources. We believe quality of life within our neighborhoods is a common interest, and it is our goal to prioritize social and economic justice by building and maintaining relationships within our communities. SENCo aims to foster a partnership of open communications between all groups, the City of Tacoma (CoT), and its neighborhoods.
                </p>
                <p class="cs-text">
                    While SENCo Board Members must live within Neighborhood Council boundaries, the term “Neighborhood Council” not only includes the 11 SENCo Board Members, but all residents, property owners, business owners, and employees who live or work in Neighborhood Council boundaries.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        The entire neighborhood benefits from a broad and diverse volunteer community to help develop projects and implement positive changes in the South End. Join SENCo and make meaningful connections with neighbors as we work towards a more livable, safe, and equitable city! Want to help contribute material to our website and social media, help us plan community outreach events or have thoughts on how we can make our outreach and media more accessible? Come to an Outreach Committee Meeting!
                    </p>
                    <span class="cs-name">Andrea Haug</span>
                    <span class="cs-job">Head Chair</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/projects" class="cs-button-solid">Our Projects</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}
